.cart-cart-container {
  background-color: #c4c4c4;
  height: 100%;
  width: 320px;
  padding: 5px;
  position: relative;
  justify-self: center;
  cursor: pointer;
}

.cart-image-container {
  width: 100px;
  height: 100px;
  background-color: #fff;
  padding: 5px;
  clip-path: polygon(15% 0%, 100% 0, 100% 90%, 85% 100%, 0 100%, 0% 10%);
}

.cart-image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.add-to-cart button {
  background-color: #fff;
  font-size: medium;
  cursor: pointer;
  font-weight: 600;
  margin-right: 5px;
}

.add-to-cart button:hover {
  background-color: #c59b58;
  color: white;
}
