.guns-container h1,
h2 {
  font-family: "Metamorphous", cursive;
}

.cart-container {
  background-color: #c4c4c4;
  height: 100%;
  width: 310px;
  padding: 15px;
  position: relative;
  justify-self: center;
  clip-path: polygon(15% 0%, 100% 0, 100% 90%, 85% 100%, 0 100%, 0% 10%);
  cursor: pointer;
}

.icon {
  font-size: 1.5rem;
}

.cart-container button {
  background-color: #fff;
  font-size: medium;
  cursor: pointer;
  font-weight: 600;
  width: 220px;
  height: 40px;
  border-radius: 5px;
}

.cart-container button:hover {
  background-color: #c59b58;
  color: white;
}
